:root {
    --primary-color: #e49d3b;
    --border: rgba(129,129,129,0.2);
}

* {
    box-sizing: inherit;
    
}

ul {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}


.grid__full-with {
    width: 100%;
}   


.col-half{
    width: 50%;
}

.col-full {
    width: 100%;
}

.col-5 {
    width: 20%;
    display: inline-block;
}
.col-4 {
    width: 25%;
}

.border-right__none {
    border-right: none !important;
}

.text-align{
    text-align: center;
}
.tranform {
    transform: translate3d(-590px,0px,0px);
}
.selltranform {
    transform: translate3d(-100%, 0, 0) !important;
}
.activedot{
    background-color: #fff;
    transition: linear 0.3s;
}
.noActive{
    background-color: rgb(29, 29, 29) !important;
    transition: linear 0.3s;
}
.active{
    display: block !important;
}

.active2{
    transform: translate3d(0px,0px,0px) !important;
    transition: linear 0.5s !important;
}
 .display{
     display: none;
 }
.bestsell-active {
    background-color: #1a1a1a;
    transition: linear 0.3s;
}

.tranformMobile {
    transform: translate3d(-100%, 0px, 0px);
    transition: linear 0.5s !important;
}
.height {
    height: auto !important;
    transition: linear 0.5s;
}
 

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
